<app-blank title="Categories" sectionTitle="Category List">
    <div class="form-group">
        <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="fa-solid fa-plus"></i>
            Add Category
        </button>
        <div class="col-md-4 mb-2" style="float: right;">
            <input class="form-control" [(ngModel)]="search" type="search" placeholder="Search...">
        </div>
    </div>
    <app-generic-table [heads]='["##","Category Name","Actions"]'>
        <tr *ngFor="let category of categories | categoryPipe:search let index=index">
            <td>{{index+1}}</td>
            <td>{{category.name}}</td>
            <td>
                <button class="btn btn-outline-primary btn-sm me-1" (click)="get(category)" data-bs-toggle="modal" data-bs-target="#updateModal">
                    <i class="fa-solid fa-edit"></i>
                    Edit
                </button>
                <button class="btn btn-outline-danger btn-sm" (click)="removeById(category)">
                    <i class="fa-solid fa-trash"></i>
                    Delete
                </button>
                    
            </td>
        </tr>
    </app-generic-table>

</app-blank>


<!--Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Add Category</h1>
                <button type="button" id="addModalCloseButton" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form autocomplete="off" #addForm="ngForm" (ngSubmit)="add(addForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Category Name</label>
                        <input type="text" ngModel name="name" id="name" #name [appValidator]="name.validity.valid"
                            required class="form-control" placeholder="Enter Category Name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateModalLabel">Update Category</h1>
                <button type="button" id="updateModalCloseButton" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form autocomplete="off" #updateForm="ngForm" (ngSubmit)="update(updateForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="updateName">Category Name</label>
                        <input type="text" [(ngModel)]="updateCategory.name" name="updateName" id="updateName" #updateName [appValidator]="updateName.validity.valid"
                            required class="form-control" placeholder="Enter Category Name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Close</button>
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>