<app-blank title="Home" sectionTitle="Products">
    <div class="row">
        <div class="col-md-3 myFrame">
            <ul>
                <li (click)="changeCategory('','All')" [ngClass]="requestModel.categoryName=='All' ? 'active' : ''">All</li>
                <li (click)="changeCategory(category._id,category.name)" [ngClass]="requestModel.categoryName==category.name ? 'active' : '' " *ngFor="let category of categories">
                {{category.name}}
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <input [(ngModel)]="requestModel.searchText" type="search" class="form-control" placeholder="Search">
                    </div>
                    <div class="col-md-3">
                        <select [(ngModel)]="requestModel.priceFilter" class="form-control">
                            <option value="0">Sort by</option>
                            <option value="1">Incresing Price</option>
                            <option value="-1">Decreasing Price</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button (click)="getAll()" class="btn btn-primary" style="margin-left: -20px;">Sort</button>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-4" *ngFor="let product of products let i=index">
                    <div class="card text-center">
                        <div class="card-header">
                            <h6>{{product.name}}</h6>
                        </div>
                        <div class="card-body">
                            <img [src]="'http://localhost:5000/' + product.imageUrls[0].path"
                            width="200" height="170" alt="">
                            <hr>
                            <p>Stock : {{product.stock}}</p>
                            <h6>Price : {{product.price}} TL</h6>
                            <button (click)="addBasket(product._id,product.price)" *ngIf="product.stock > 0" class="btn btn-outline-success w-100">Add Basket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-blank>