.myFrame {
    padding: 10px;
    padding-left: 0px;
}

ul li {
    text-align: center;
    list-style: none;
    padding: 10px;
    padding-left: 0px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.active{
    background-color: rgb(73, 60, 248);
    color: white;
}